<div class="green-theme">
  <h2 mat-dialog-title color="primary">Change Password</h2>

  <mat-dialog-content>
    <div fxLayout="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center stretch" [formGroup]="passwordForm">
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-label fxFlex="30%" class="title-field">Old Password<span class="required">*</span></mat-label>
        <mat-form-field fxFlex="70%" appearance="standard">
          <mat-label>Old Password</mat-label>
          <input matInput formControlName="oldPassword" type="password" />
          <mat-error
            *ngIf="
              passwordForm.controls.oldPassword.hasError('required') &&
              (passwordForm.controls.oldPassword.touched || passwordForm.controls.oldPassword.dirty)
            "
            >This field is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
        <mat-label fxFlex="30%" class="title-field">New Password<span class="required">*</span></mat-label>
        <mat-form-field fxFlex="70%" appearance="standard">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" type="password" />
          <mat-error
            *ngIf="
              passwordForm.controls.newPassword.hasError('required') &&
              (passwordForm.controls.newPassword.touched || passwordForm.controls.newPassword.dirty)
            "
            >This field is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-label fxFlex="30%" class="title-field">Confirm Password<span class="required">*</span></mat-label>
        <mat-form-field fxFlex="70%" appearance="standard">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />
          <mat-error
            *ngIf="
              passwordForm.controls.confirmPassword.hasError('required') &&
              (passwordForm.controls.confirmPassword.touched || passwordForm.controls.confirmPassword.dirty)
            "
            >This field is required.</mat-error
          >
          <mat-error
            *ngIf="
              passwordForm.controls.confirmPassword.hasError('passwordNotMatch') &&
              (passwordForm.controls.confirmPassword.touched || passwordForm.controls.confirmPassword.dirty)
            "
            >Password does not match</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="passwordForm.invalid">Save</button>
    <button mat-button (click)="onDismiss()">Cancel</button>
  </mat-dialog-actions>
</div>
