<div class="green-theme">
  <mat-toolbar>
    <span>{{ 'Employee_Detail' | translate }}</span>
  </mat-toolbar>

  <div class="row">
    <form [formGroup]="employeeForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Employee_Name' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Employee_Name' | translate }}</mat-label>
            <input matInput formControlName="EmployeeName" />
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Tel_No' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label>{{ 'Tel_No' | translate }}</mat-label>
            <!-- <mat-icon matSuffix>person</mat-icon> -->
            <input matInput formControlName="Tel" />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Passport' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label>{{ 'Passport' | translate }}</mat-label>
            <!-- <mat-icon matSuffix>person</mat-icon> -->
            <input matInput formControlName="EmployeePassport" />
          </mat-form-field>
        </div>
        <div fxFlex="50%"></div>
      </div>
    </form>
  </div>

  <div class="row btn-footer">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <button *ngIf="crudType !== CrudType.VIEW" mat-raised-button color="primary" (click)="save()">
        {{ 'Save' | translate }}
      </button>
      <button mat-raised-button (click)="back()">{{ 'Back' | translate }}</button>
    </div>
  </div>
</div>
