<div class="green-theme">
  <mat-toolbar>
    <span>{{ 'Request_Entry' | translate }}</span>
  </mat-toolbar>
  <div class="row">
    <div class="search-form" [formGroup]="searchForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Request_Date' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" color="primary">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="FromDate" placeholder="Start date" readonly />
              <input matEndDate formControlName="ToDate" placeholder="End date" readonly />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker" color="primary"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="errorForm && searchForm.controls.FromDate.hasError('required')"
              >Start Date is required.</mat-error
            >
            <mat-error *ngIf="errorForm && searchForm.controls.ToDate.hasError('required')"
              >End Date is required.</mat-error
            >
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <!-- <mat-label fxFlex="30%" class="title-field">Type</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label class="title-field">{{ 'Type_Of_Vehicle' | translate}}</mat-label>
            <mat-select formControlName="Type">
              <mat-option [value]="">{{ 'Please_Select' | translate }}</mat-option>
              <mat-option *ngFor="let category of vehicleCategories$ | async" [value]="category.Id">
                {{ category.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </div>

      <div class="btn-container" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="getFilteredList()">{{ 'Search' | translate }}</button>
        <button mat-raised-button (click)="resetSearchForm()">Clear</button>
      </div>
    </div>

    <ng-container *ngIf="listRequests$ | async as listRequests">
      <app-data-table
        *ngIf="listRequests.length > 0"
        [hasSelect]="false"
        [dataList]="listRequests"
        [columns]="columns"
        (viewEmitter)="viewDetail($event)"
        (editEmitter)="editRequest($event)"
        (deleteEmitter)="deleteRequest($event)"
      ></app-data-table>
    </ng-container>
  </div>

  <ng-template [appHasRole]="[Role.CUSTOMER, Role.PARKING_ADMIN, Role.SYSTEM_ADMIN]">
    <div class="fab-features-btn green-theme">
      <button mat-fab color="primary" (click)="addNew()"><mat-icon>add</mat-icon></button>
    </div>
  </ng-template>
</div>
