<mat-form-field>
  <mat-select [formControl]="formCtrl" #singleSelect [disabled]="isDisabled" (selectionChange)="onSelect($event.value)">
    <mat-option>
      <ngx-mat-select-search
        [formControl]="filterFormCtrl"
        [placeholderLabel]="'Please_Select' | translate"
      ></ngx-mat-select-search
    ></mat-option>
    <mat-option [value]="null">None</mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option[selectionConfig.valueKey]">
      {{ option[selectionConfig.displayKey] }}
    </mat-option>
  </mat-select>
</mat-form-field>
