table {
  width: 100%;
  tr {
    height: 36px;
  }
  th {
    max-width: 150px;
  font-size: 12px;
  color: #000;
  font-weight: 500;
}
  td {
    max-width: 150px;
    word-wrap: break-word;
    padding-right: 10px;
    font-size: 12px;
  }
}

::ng-deep {
  .column-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // padding-top: 1rem;
    .cell-header {
      width: 100%;
      // padding-bottom: 1rem;
    }
    .filter-header {
      .mat-form-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        .mat-form-field-wrapper {
          padding-bottom: 10px;
          padding-top: 10px;
          max-width: 90%;
        }

      }
    }
  }
}


.mr-10 {
  margin-right: 10px;
}
