<div class="mat-elevation-z8 green-theme">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columns">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" *ngIf="column.key === 'select'">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="onSelectItem($event, element)"
            [checked]="selection.isSelected(element)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- No. Column -->.
      <ng-container matColumnDef="colNo" *ngIf="column.key === 'colNo'">
        <th mat-header-cell *matHeaderCellDef>
          <div class="column-filter" fxLayoutGap="12px">
            <div class="cell-header" *ngIf="!column.filterable || hideFilter">
              <span>{{ column.display | translate }}</span>
            </div>
            <div class="filter-header" *ngIf="column.filterable && !hideFilter">
              <mat-form-field
                floatLabel="never"
                appearance="outline"
                fxFlex="80%"
                [ngStyle]="{
                  height: hideFilter ? '0' : '60px',
                  opacity: hideFilter ? '0' : '1',
                  visibility: hideFilter ? 'hidden' : 'visible',
                  transition: '0.5s'
                }"
              >
                <input matInput *ngIf="!column.filterType || column.filterType === 'input'" />
              </mat-form-field>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ this.dataList.indexOf(element) + 1 }}</td>
      </ng-container>
      <!-- Data Column -->
      <ng-container [matColumnDef]="column.key" *ngIf="!['select', 'functional', 'colNo'].includes(column.key)">
        <th mat-header-cell *matHeaderCellDef>
          <div class="column-filter" fxLayoutGap="12px">
            <div class="cell-header" *ngIf="!column.filterable || hideFilter">
              <span>{{ column.display | translate }}</span>
            </div>
            <div class="filter-header" *ngIf="column.filterable && !hideFilter">
              <mat-form-field floatLabel="never" appearance="outline">
                <mat-label>{{ column.display | translate }}</mat-label>
                <input
                  matInput
                  *ngIf="!column.filterType || column.filterType === 'input'"
                  (keyup)="onFilter(column, $event)"
                />
              </mat-form-field>
            </div>
          </div>
        </th>
        <ng-container [ngSwitch]="column.type">
          <ng-container *ngSwitchCase="undefined">
            <td mat-cell *matCellDef="let element">{{ element[column.key] }}</td>
          </ng-container>

          <ng-container *ngSwitchCase="'boolean'">
            <td mat-cell *matCellDef="let element">
              <mat-label>{{ element[column.key] ? 'YES' : 'NO' }}</mat-label>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'dateTime'">
            <td mat-cell *matCellDef="let element">
              <mat-label>{{ element[column.key] | date: 'HH:mm yyyy-MM-dd' }}</mat-label>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'date'">
            <td mat-cell *matCellDef="let element">
              <mat-label>{{ element[column.key] | date: 'yyyy-MM-dd' }}</mat-label>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'dateString'">
            <td mat-cell *matCellDef="let element">
              <mat-label>{{ element[column.key] | customDate | date: 'yyyy-MM-dd' }}</mat-label>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'dateTimeString'">
            <td mat-cell *matCellDef="let element">
              <mat-label>{{ element[column.key] | customDate | date: 'HH:mm yyyy-MM-dd' }}</mat-label>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- Functional Column -->
      <ng-container matColumnDef="functional" *ngIf="column.key === 'functional'">
        <th mat-header-cell *matHeaderCellDef>
          <div class="column-filter" fxLayoutGap="12px">
            <div class="cell-header">
              <button
                mat-icon-button
                aria-label="Filter Button"
                [color]="hideFilter ? '' : 'primary'"
                (click)="toggleFilter()"
              >
                <mat-icon>filter_alt</mat-icon>
              </button>
            </div>
            <div class="filter-header" *ngIf="column.filterable"></div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Functional button">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="onView(element)"
              *ngIf="element.canView === undefined || element.canView !== false"
            >
              <!-- <mat-icon>dialpad</mat-icon> -->
              <span>View</span>
            </button>
            <button
              mat-menu-item
              (click)="onEdit(element)"
              *ngIf="element.canEdit === undefined || element.canEdit !== false"
            >
              <!-- <mat-icon>voicemail</mat-icon> -->
              <span>Edit</span>
            </button>
            <button
              mat-menu-item
              (click)="onDelete(element)"
              *ngIf="element.canDelete === undefined || element.canDelete !== false"
            >
              <!-- <mat-icon>notifications_off</mat-icon> -->
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
