table {
  width: 100%;
  th {
    max-width: 150px;
  }
  td {
    max-width: 150px;
    word-wrap: break-word;
    padding-right: 10px;
  }
}

.column-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
  .cell-header {
    width: 100%;
    padding-bottom: 1rem;
  }
  .filter-header {
    margin-top: -6px;
    margin-bottom: -6px;
    .mat-form-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      div.mat-form-field-wrapper {
        padding-bottom: 0;
        div.mat-form-field-infix {
          border-top-width: 0;
        }
      }

    }
  }
}
