<app-header [sidenav]="leftSidenav" *ngIf="currentUser" class="green-theme"></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #leftSidenav
    mode="side"
    [opened]="currentUser"
    [ngStyle]="{ visibility: currentUser ? 'visible' : 'hidden' }"
  >
    <app-sidenav [hasFooter]="hasFooter"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content [@onMainContentChange]="!currentUser ? 'hidden' : onSideNavChange ? 'open' : 'close'">
    <div
      class="main-content"
      [ngStyle]="{
        height: currentUser ? (hasFooter ? 'calc(100vh - 85px)' : 'calc(100vh - 45px)') : '100vh'
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer *ngIf="hasFooter"></app-footer>
<ngx-spinner></ngx-spinner>
