<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>E-Parking</span>
  <span class="example-spacer"></span>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">{{ fullName }} <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item color="primary" (click)="changePassword()">
        <mat-icon>security</mat-icon>{{ 'Change_Password' | translate }}
      </button>
      <button mat-menu-item color="primary" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>{{ 'Logout' | translate }}
      </button>
    </mat-menu>
  </div>
  <!-- <a mat-flat-button color="primary" (click)="logout()"> {{ 'Logout' | translate }}</a> -->
</mat-toolbar>
