<a
  mat-list-item
  (click)="onItemSelected(item)"
  [ngClass]="{ active: item.RouterLink ? router.isActive(item.RouterLink, true) : false, expanded: expanded }"
  (mouseover)="onHover(true)"
  (mouseout)="onHover(false)"
  [fxLayoutAlign]="sideNavState ? 'flex-start' : 'center'"
>
  <mat-icon mat-list-icon>{{ item.Icon }}</mat-icon>
  <div
    class="text-menu-item"
    [@animateText]="linkText ? 'show' : 'hide'"
    [ngStyle]="{
      display: linkText ? 'flex' : 'none',
      'margin-left': depth ? (depth < 2 ? '10px' : '20px') : '0px',
      'margin-right': item.IsAction ? '10px' : '0px'
    }"
  >
    <span *ngIf="linkText"> {{ item.Name | translate }}</span>
    <span fxFlex *ngIf="item.ChildsMenu && item.ChildsMenu.length">
      <span fxFlex></span>
      <mat-icon style="color: inherit" [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'">{{
        !expanded ? 'add' : 'remove'
      }}</mat-icon>
    </span>
  </div>
</a>
<div *ngIf="expanded">
  <app-menu-nav-item *ngFor="let child of item.ChildsMenu" [item]="child" [linkText]="linkText" [depth]="depth + 1">
  </app-menu-nav-item>
</div>
<mat-divider *ngIf="!depth"></mat-divider>
