:host::ng-deep .mat-list-item-content {
  width: 100%;
  padding: 0;
  align-items: stretch;
  .text-menu-item {
    min-width: 0px;
    padding-left: 16px;
    align-items: center;
    width: 100%;
  }
}
