<div class="green-theme">
  <mat-toolbar>
    <span>{{ 'Price_Detail' | translate }}</span>
  </mat-toolbar>

  <div class="row">
    <form [formGroup]="priceForm">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field"
            >{{ 'Customer' | translate }}<span class="required">*</span></mat-label
          >
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Customer' | translate }}</mat-label>
            <mat-select formControlName="CustomerId" [disabled]="crudType === CrudType.VIEW">
              <mat-option [value]="null">{{ 'Please_Select' | translate }}</mat-option>
              <mat-option *ngFor="let customer of customers$ | async" [value]="customer.CustomerId">
                {{ customer.CustomerName }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                priceForm.controls.CustomerId.hasError('required') &&
                (priceForm.controls.CustomerId.touched || priceForm.controls.CustomerId.dirty)
              "
              >{{ 'Validator_Required' | translate }}</mat-error
            >
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Contract_No' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Contract_No' | translate }}</mat-label>
            <input matInput formControlName="ContractsNumber" [readonly]="crudType === CrudType.VIEW" />
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field"
            >{{ 'From_Date' | translate }}<span class="required">*</span></mat-label
          >
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'From_Date' | translate }}</mat-label>
            <input matInput [matDatepicker]="pickerFromDate" formControlName="ValidFromDate" readonly />
            <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerFromDate [disabled]="crudType === CrudType.VIEW"></mat-datepicker>
            <mat-error
              *ngIf="
                priceForm.controls.ValidFromDate.hasError('required') &&
                (priceForm.controls.ValidFromDate.touched || priceForm.controls.ValidFromDate.dirty)
              "
              >{{ 'Validator_Required' | translate }}</mat-error
            >
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field"
            >{{ 'To_Date' | translate }}<span class="required">*</span></mat-label
          >
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'To_Date' | translate }}</mat-label>
            <input matInput [matDatepicker]="pickerToDate" formControlName="ValidToDate" readonly />
            <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerToDate [disabled]="crudType === CrudType.VIEW"></mat-datepicker>
            <mat-error
              *ngIf="
                priceForm.controls.ValidToDate.hasError('required') &&
                (priceForm.controls.ValidToDate.touched || priceForm.controls.ValidToDate.dirty)
              "
              >{{ 'Validator_Required' | translate }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Actived</mat-label>
          <mat-radio-group
            fxFlex="70%"
            aria-label="Select an option"
            formControlName="IsActived"
            *ngIf="crudType !== CrudType.VIEW; else activedView"
          >
            <mat-radio-button [value]="true" fxFlex="20%" fxFlex.xs="50%" color="primary">Yes</mat-radio-button>
            <mat-radio-button [value]="false" fxFlex="20%" fxFlex.xs="50%" color="primary">No</mat-radio-button>
          </mat-radio-group>
          <ng-template #activedView>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <mat-label>Actived</mat-label>
              <input matInput formControlName="IsActivedName" readonly />
            </mat-form-field>
          </ng-template>
        </div>
        <div fxFlex="50%"></div>
      </div>
    </form>

    <!-- <div
      fxLayout="column"
      fxLayoutWrap
      fxLayoutGap="10px"
      fxLayoutAlign="center stretch"
      [style.display]="requestEntryForm.controls?.IsVehicle.value ? 'flex' : 'none'"
      [formGroup]="accessVehicleForm"
    >
      <div class="form-control" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-label class="title-field">{{ 'Access_Vehicles' | translate}}</mat-label>
      </div>
      <div>
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutWrap
          fxLayoutGap="5%"
          fxLayoutAlign="center center"
          *ngIf="crudType !== CrudType.VIEW"
        >
          <div fxFlex="40%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-label fxFlex="30%" class="title-field">{{ 'Plate' | translate }}</mat-label>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <mat-label class="title-field">{{ 'Plate' | translate}}</mat-label>
              <input matInput formControlName="Plate" [readonly]="crudType === CrudType.VIEW" class="upper-case" />
            </mat-form-field>
          </div>
          <div fxFlex="40%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-label fxFlex="30%" class="title-field">{{ 'Type_Of_Vehicle' | translate }}</mat-label>
            <mat-form-field fxFlex="70%" appearance="standard">
              <mat-label class="title-field">{{ 'Type_Of_Vehicle' | translate}}</mat-label>
              <mat-select formControlName="Type">
                <mat-option [value]="">{{ 'Please_Select' | translate }}</mat-option>
                <mat-option *ngFor="let category of vehicleCategories$ | async" [value]="category">
                  {{ category.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="20%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <button mat-button (click)="addAccessVehicle()" mat-flat-button color="primary">{{ 'Add' | translate }}</button>
            <button
              mat-button
              (click)="deleteAccessVehicle()"
              mat-flat-button
              color="warn"
              *ngIf="listSelectedVehicles.length > 0"
            >
              {{ 'Delete' | translate }}
            </button>
          </div>
        </div>

        <app-data-table
          [hasSelect]="true"
          [hasFunctionalBtn]="false"
          [dataList]="listAccessVehicles"
          (selectedValuesEmitter)="listSelectedVehicles = $event"
          [columns]="columns"
        ></app-data-table>
      </div> -->
    <!-- </div> -->
  </div>

  <div class="row btn-footer">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <button *ngIf="crudType !== CrudType.VIEW" mat-raised-button color="primary" (click)="save()">
        {{ 'Save' | translate }}
      </button>
      <button mat-raised-button (click)="back()">{{ 'Back' | translate }}</button>
      <!-- <button mat-raised-button color="accent">Accent</button> -->
    </div>
  </div>
</div>
