<div class="green-theme">
  <mat-toolbar>
    <span>{{ 'Customer_Detail' | translate }}</span>
  </mat-toolbar>

  <div class="row">
    <form [formGroup]="customerForm">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Customer_Name' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Customer_Name' | translate }}</mat-label>
            <input matInput formControlName="CustomerName" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Address' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Address</mat-label>
            <input matInput formControlName="Address" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Contact_Name' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Contact Name</mat-label>
            <input matInput formControlName="ContactName" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Mobile' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="Mobile" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Tel_No' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Tel_No' | translate }}</mat-label>
            <input matInput formControlName="Tel" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Fax_No' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Fax No.</mat-label>
            <input matInput formControlName="Fax" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Email</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Tax_Code' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Tax Code</mat-label>
            <input matInput formControlName="TaxCode" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Account' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Account</mat-label>
            <input matInput formControlName="Account" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Bank' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Bank</mat-label>
            <input matInput formControlName="Bank" [readonly]="crudType === CrudType.VIEW" />
            <!-- <mat-icon matSuffix>home</mat-icon> -->
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Disable</mat-label>
          <mat-radio-group
            fxFlex="70%"
            aria-label="Select an option"
            formControlName="Disable"
            *ngIf="crudType !== CrudType.VIEW; else disableView"
          >
            <mat-radio-button [value]="true" fxFlex="20%" fxFlex.xs="50%" color="primary">Yes</mat-radio-button>
            <mat-radio-button [value]="false" fxFlex="20%" fxFlex.xs="50%" color="primary">No</mat-radio-button>
          </mat-radio-group>
          <ng-template #disableView>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <mat-label>Disable</mat-label>
              <input matInput formControlName="DisableName" readonly />
            </mat-form-field>
          </ng-template>
        </div>
        <div fxFlex="50%"></div>
      </div>
    </form>
  </div>

  <div class="row btn-footer">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <button *ngIf="crudType !== CrudType.VIEW" mat-raised-button color="primary" (click)="save()">
        {{ 'Save' | translate }}
      </button>
      <button mat-raised-button (click)="back()">{{ 'Back' | translate }}</button>
      <!-- <button mat-raised-button color="accent">Accent</button> -->
    </div>
  </div>
</div>
