<div class="row">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <div fxFlex="20%">
      <mat-form-field appearance="standard">
        <mat-label>Customer Name</mat-label>
        <mat-icon matSuffix>person</mat-icon>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Address</mat-label>
        <mat-icon matSuffix>home</mat-icon>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Contact Name</mat-label>
        <mat-icon matSuffix>person</mat-icon>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Mobile</mat-label>
        <input matInput />
        <mat-icon matSuffix>smartphone</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Tel No.</mat-label>
        <input matInput />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Fax No.</mat-label>
        <mat-icon matSuffix>weekend</mat-icon>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Tax Code</mat-label>
        <mat-icon matSuffix>attach_money</mat-icon>
        <input matInput />
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Account</mat-label>
        <mat-icon matSuffix>account_box</mat-icon>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="legacy">
        <mat-label>Bank</mat-label>
        <mat-icon matSuffix>account_balance</mat-icon>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxFlex="30%" class="form-input-row">
      <label class="title-field" style="width: 30%">Status</label>
      <div class="select-field" style="width: 70%">
        <mat-radio-group aria-label="Select an option" fxLayout="column">
          <mat-radio-button value="true">Active</mat-radio-button>
          <mat-radio-button value="false">Inactive</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxFlex="10%"></div>
  </div>
</div>
