<div class="green-theme">
  <mat-toolbar>
    <span>Chi Tiết Đăng Kí Ra Vào</span>
  </mat-toolbar>

  <div class="row">
    <form [formGroup]="requestEntryForm">
      <!-- UNNESSARY YET. -->
      <!-- <div
        *ngIf="crudType !== CrudType.CREATE"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field">Customer Name</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="CustomerName" />
          </mat-form-field>
        </div>
        <div fxFlex="50%"></div>
      </div> -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Request Detail</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Request Detail</mat-label>
            <input matInput formControlName="RequestDetailed" [readonly]="crudType === CrudType.VIEW" />
            <mat-error
              *ngIf="
                requestEntryForm.controls.RequestDetailed.hasError('required') &&
                (requestEntryForm.controls.RequestDetailed.touched || requestEntryForm.controls.RequestDetailed.dirty)
              "
              >This field is required</mat-error
            >
          </mat-form-field>
        </div>

        <div fxFlex="50%"></div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Visitor Name</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label>Visitor Name</mat-label>
            <input matInput formControlName="VisitorName" [readonly]="crudType === CrudType.VIEW" />
            <mat-error
              *ngIf="
                requestEntryForm.controls.VisitorName.hasError('required') &&
                (requestEntryForm.controls.VisitorName.touched || requestEntryForm.controls.VisitorName.dirty)
              "
              >This field is required</mat-error
            >
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Visitor Tel No.</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label>Visitor Tel No.</mat-label>
            <input matInput formControlName="VisitorTel" [readonly]="crudType === CrudType.VIEW" />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Number Of Visitors</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label>Number Of Visitors</mat-label>
            <input
              matInput
              formControlName="NumberVisitor"
              type="number"
              max="30"
              min="1"
              [readonly]="crudType === CrudType.VIEW"
            />
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Visitor Passport</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label>Visitor Passport</mat-label>
            <input matInput formControlName="VisitorPassport" [readonly]="crudType === CrudType.VIEW" />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Start Time<span class="required">*</span></mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <input
              matInput
              [ngxMatDatetimePicker]="startTimePicker"
              placeholder="Choose a date"
              formControlName="StartTime"
              readonly
            />
            <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #startTimePicker
              [showSpinners]="true"
              [showSeconds]="false"
              [stepHour]="1"
              [stepMinute]="1"
              [touchUi]="false"
              color="primary"
              [enableMeridian]="false"
              [disableMinute]="false"
              [hideTime]="false"
            >
            </ngx-mat-datetime-picker>
            <mat-error
              *ngIf="
                requestEntryForm.controls.StartTime.hasError('required') &&
                (requestEntryForm.controls.StartTime.touched || requestEntryForm.controls.StartTime.dirty)
              "
              >This field is required</mat-error
            >
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">End Time<span class="required">*</span></mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <input
              matInput
              [ngxMatDatetimePicker]="endTimePicker"
              placeholder="Select a time"
              formControlName="EndTime"
              readonly
            />
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #endTimePicker
              [showSpinners]="true"
              [showSeconds]="false"
              [stepHour]="1"
              [stepMinute]="1"
              [touchUi]="false"
              color="primary"
              [enableMeridian]="false"
              [disableMinute]="false"
              [hideTime]="false"
            >
            </ngx-mat-datetime-picker>
            <mat-error
              *ngIf="
                requestEntryForm.controls.EndTime.hasError('required') &&
                (requestEntryForm.controls.EndTime.touched || requestEntryForm.controls.EndTime.dirty)
              "
              >This field is required</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div
        class="form-control"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Type Payment</mat-label>
          <mat-radio-group
            fxFlex="70%"
            aria-label="Select an option"
            formControlName="TypePayment"
            *ngIf="crudType !== CrudType.VIEW; else typePaymentView"
          >
            <mat-radio-button [value]="true" fxFlex="20%" fxFlex.xs="50%" color="primary">Yes</mat-radio-button>
            <mat-radio-button [value]="false" fxFlex="20%" fxFlex.xs="50%" color="primary">No</mat-radio-button>
          </mat-radio-group>
          <ng-template #typePaymentView>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <mat-label>Type Payment</mat-label>
              <input matInput formControlName="TypePayment" readonly />
            </mat-form-field>
          </ng-template>
        </div>

        <div
          class="form-control"
          fxFlex="50%"
          fxLayout="row"
          fxLayoutWrap
          fxLayoutGap="10px"
          fxLayoutAlign="start center"
        >
          <mat-label fxFlex="30%" class="title-field">Is Vehicle</mat-label>
          <mat-radio-group
            fxFlex="70%"
            aria-label="Select an option"
            formControlName="IsVehicle"
            (change)="onRadioChange('IsVehicle', $event.value)"
            [readonly]="crudType === CrudType.VIEW"
            *ngIf="crudType !== CrudType.VIEW; else IsVehicleView"
          >
            <mat-radio-button [value]="true" fxFlex="20%" fxFlex.xs="50%" color="primary">Yes</mat-radio-button>
            <mat-radio-button [value]="false" fxFlex="20%" fxFlex.xs="50%" color="primary">No</mat-radio-button>
          </mat-radio-group>
          <ng-template #IsVehicleView>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <mat-label>Is Vehicle</mat-label>
              <input matInput formControlName="IsVehicle" readonly />
            </mat-form-field>
          </ng-template>
        </div>
      </div>

      <!-- <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="start start"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Type Of Vehicle</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Type Of Vehicle</mat-label>
            <mat-select formControlName="TypeId">
              <mat-option [value]="">Please Select</mat-option>
              <mat-option *ngFor="let category of vehicleCategories$ | async" [value]="category.Id">
                {{ category.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <ng-template [appHasRole]="[Role.SECURITY, Role.SYSTEM_ADMIN]">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center center">
          <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-label fxFlex="30%" class="title-field">Input Real Time</mat-label>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <input
                matInput
                [ngxMatDatetimePicker]="realTimePicker"
                placeholder="Select a time"
                formControlName="InputRealTime"
                readonly
              />
              <mat-datepicker-toggle matSuffix [for]="realTimePicker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker
                #realTimePicker
                [showSpinners]="true"
                [showSeconds]="false"
                [stepHour]="1"
                [stepMinute]="1"
                [touchUi]="false"
                color="primary"
                [enableMeridian]="false"
                [disableMinute]="false"
                [hideTime]="false"
              >
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </div>

          <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-label fxFlex="30%" class="title-field">Note Done</mat-label>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <mat-label>Note Done</mat-label>
              <input matInput formControlName="NoteDone" [readonly]="crudType === CrudType.VIEW" />
            </mat-form-field>
          </div>
        </div>
      </ng-template>
    </form>

    <div
      fxLayout="column"
      fxLayoutWrap
      fxLayoutGap="10px"
      fxLayoutAlign="center stretch"
      [style.display]="requestEntryForm.controls?.IsVehicle.value ? 'flex' : 'none'"
      [formGroup]="accessVehicleForm"
    >
      <div class="form-control" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-label class="title-field">Access Vehicles</mat-label>
      </div>
      <div>
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutWrap
          fxLayoutGap="5%"
          fxLayoutAlign="center center"
          *ngIf="crudType !== CrudType.VIEW"
        >
          <div fxFlex="40%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-label fxFlex="30%" class="title-field">Plate</mat-label>
            <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
              <mat-label>Plate</mat-label>
              <input
                matInput
                formControlName="Plate"
                [readonly]="crudType === CrudType.VIEW"
                class="upper-case"
                (keypress)="omitSpecialChar($event)"
              />
            </mat-form-field>
          </div>
          <div fxFlex="40%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-label fxFlex="30%" class="title-field">Type Of Vehicle</mat-label>
            <mat-form-field fxFlex="70%" appearance="standard">
              <mat-label>Type Of Vehicle</mat-label>
              <mat-select formControlName="Type">
                <mat-option [value]="">Please Select</mat-option>
                <mat-option *ngFor="let category of vehicleCategories$ | async" [value]="category">
                  {{ category.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="20%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
            <button mat-button (click)="addAccessVehicle()" mat-flat-button color="primary">Add</button>
            <button
              mat-button
              (click)="deleteAccessVehicle()"
              mat-flat-button
              color="warn"
              *ngIf="listSelectedVehicles.length > 0"
            >
              Delete
            </button>
          </div>
        </div>

        <app-data-table
          [hasSelect]="true"
          [hasFunctionalBtn]="false"
          [dataList]="listAccessVehicles"
          (selectedValuesEmitter)="listSelectedVehicles = $event"
          [columns]="columns"
        ></app-data-table>
      </div>
    </div>
  </div>

  <div class="row btn-footer">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <button *ngIf="crudType !== CrudType.VIEW" mat-raised-button color="primary" (click)="save()">Save</button>
      <button mat-raised-button (click)="back()">Back</button>
      <!-- <button mat-raised-button color="accent">Accent</button> -->
    </div>
  </div>
</div>
