<div class="green-theme">
  <mat-toolbar>
    <span>{{ 'Vehicle_Detail' | translate }}</span>
  </mat-toolbar>

  <mat-horizontal-stepper labelPosition="bottom" [linear]="false" #stepper>
    <mat-step [completed]="true" label="{{ 'Fill_out_vehicle_detail' | translate }}" [editable]="false"> </mat-step>
    <mat-step
      [completed]="vehicleForm?.controls.Status.value !== VehicleStatus.NEW"
      label="{{ 'Waiting_for_approval' | translate }}"
      [editable]="false"
    >
    </mat-step>
    <mat-step
      [completed]="vehicleForm?.controls.Status.value === VehicleStatus.APPROVED"
      [label]="'Done' | translate"
      [editable]="false"
    >
    </mat-step>
  </mat-horizontal-stepper>
  <div class="row">
    <form [formGroup]="vehicleForm">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Type Of Vehicle<span class="required">*</span></mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label class="title-field">{{ 'Type_Of_Vehicle' | translate }}</mat-label>
            <mat-select formControlName="TypeId">
              <mat-option [value]="">{{ 'Please_Select' | translate }}</mat-option>
              <mat-option *ngFor="let category of vehicleCategories$ | async" [value]="category.Id">
                {{ category.Name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                vehicleForm.controls.TypeId.hasError('required') &&
                (vehicleForm.controls.TypeId.touched || vehicleForm.controls.TypeId.dirty)
              "
              >{{ 'Validator_Required' | translate }}</mat-error
            >
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Plate' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard" class="form-input">
            <mat-label class="title-field">{{ 'Plate' | translate }}</mat-label>
            <!-- <mat-icon matSuffix>person</mat-icon> -->
            <input
              matInput
              formControlName="Plate"
              class="upper-case"
              (keypress)="omitSpecialChar($event)"
              [readonly]="crudType === CrudType.VIEW"
            />
            <mat-error
              *ngIf="
                vehicleForm.controls.Plate.hasError('maxlength') &&
                (vehicleForm.controls.Plate.touched || vehicleForm.controls.Plate.dirty)
              "
              >Max 10 characters</mat-error
            >
            <mat-error
              *ngIf="
                vehicleForm.controls.Plate.hasError('pattern') &&
                (vehicleForm.controls.Plate.touched || vehicleForm.controls.Plate.dirty)
              "
              >Only allow to input characters and numbers.</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field"
            >{{ 'Payment_Date' | translate }}<span class="required">*</span></mat-label
          >
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Choose_a_date' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="DateOfPayment" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error
              *ngIf="
                vehicleForm.controls.DateOfPayment.hasError('required') &&
                (vehicleForm.controls.DateOfPayment.touched || vehicleForm.controls.DateOfPayment.dirty)
              "
              >{{ 'Validator_Required' | translate }}</mat-error
            >
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Note' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Note' | translate }}</mat-label>
            <input matInput formControlName="Notes" readonly />
            <!-- <textarea matInput></textarea> -->
          </mat-form-field>
        </div>
      </div>

      <!-- <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
        *ngIf="crudType !== CrudType.CREATE"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field">Approval Status</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Approval Status</mat-label>
            <ng-container [ngSwitch]="vehicleForm.controls.Status.value">
              <input *ngSwitchCase="VehicleStatus.NEW" matInput value="New" readonly />
              <input *ngSwitchCase="VehicleStatus.PENDING" matInput value="Pending Approval" readonly />
              <input *ngSwitchCase="VehicleStatus.APPROVED" matInput value="Approved" readonly />
            </ng-container>
          </mat-form-field>
        </div>

        <div fxFlex="50%"></div>
         <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">Current Status</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>Current Status</mat-label>
            <input matInput formControlName="CurrentStatus" />
          </mat-form-field>
        </div>
      </div> -->
      <div
        *ngIf="vehicleForm.controls.Status.value === VehicleStatus.APPROVED"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center center"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Approver' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Approver' | translate }}</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Approval_Date' | translate }}</mat-label>
          <mat-form-field fxFlex="70%" appearance="standard">
            <mat-label>{{ 'Approval_Date' | translate }}</mat-label>
            <!-- <mat-icon matSuffix>home</mat-icon> -->
            <input matInput />
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="start start"
        fxLayoutAlign.xs="space-around stretch"
      >
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Image' | translate }}</mat-label>
          <div fxFlex="70%">
            <mat-card>
              <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <ng-container *ngFor="let file of files">
                    <mat-progress-spinner
                      *ngIf="file.progress !== 100"
                      color="primary"
                      mode="determinate"
                      [value]="file.progress"
                    >
                    </mat-progress-spinner>
                  </ng-container>
                  <img
                    *ngIf="vehicleForm.controls.ImagePath.value"
                    [src]="imageURLResource + vehicleForm.controls.ImagePath.value"
                    fxFlex="70%"
                    style="width: 100%; height: auto"
                  />
                  <!-- <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                    <span id="file-label"> </span> -->
                </div>
              </mat-card-content>
              <mat-card-actions *ngIf="crudType !== CrudType.VIEW">
                <button mat-button color="primary" (click)="onClick()">
                  <mat-icon>file_upload</mat-icon>
                  Upload
                </button>
              </mat-card-actions> </mat-card
            ><input type="file" #fileInput id="fileUpload" name="fileUpload" accept="image/*" style="display: none" />
            <!-- <input style="display: none" type="file" accept='image/*' (change)="onFileChanged($event)" #fileInput />
            <img [src]="imgURL" height="200" *ngIf="imgURL">
            <button (click)="fileInput.click()" mat-raised-button color="accent">Select File</button>
            <div class="image-upload">

            </div> -->
          </div>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start center">
          <mat-label fxFlex="30%" class="title-field">{{ 'Is_Monthly_Vehicle' | translate }}</mat-label>
          <mat-radio-group fxFlex="70%" aria-label="Select an option" formControlName="IsMonthly">
            <mat-radio-button
              [value]="true"
              fxFlex="20%"
              fxFlex.xs="50%"
              color="primary"
              [disabled]="crudType === CrudType.VIEW"
              >{{ 'YES' | translate }}</mat-radio-button
            >
            <mat-radio-button
              [value]="false"
              fxFlex="20%"
              fxFlex.xs="50%"
              color="primary"
              [disabled]="crudType === CrudType.VIEW"
              >{{ 'NO' | translate }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </form>
  </div>
  <div class="row btn-footer">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <button
        *ngIf="crudType !== CrudType.VIEW && vehicleForm?.controls.Status.value === VehicleStatus.NEW"
        mat-raised-button
        color="primary"
        (click)="save()"
      >
        {{ 'Save' | translate }}
      </button>
      <button
        *ngIf="vehicleForm?.controls.Status.value === VehicleStatus.NEW && crudType !== CrudType.CREATE"
        mat-raised-button
        color="primary"
        (click)="confirmDialog('handover', 'Handover', 'Are you sure you want to handover to approve this vehicle?')"
      >
        {{ 'Approval_Handover' | translate }}
      </button>
      <button mat-raised-button (click)="back()">{{ 'Back' | translate }}</button>
      <!-- <button mat-raised-button color="accent">Accent</button> -->
    </div>
  </div>
</div>
